<p-card>
    <form [formGroup]="countryForm" class="float">
        <div class="field">
            <label for="country">City: </label>
            <input id="country" type="text" formControlName="country" class="m-2" placeholder="Country" pInputText>
            <small class="p-error block" *ngIf="
            countryForm.controls['country'].invalid &&
            countryForm.controls['country'].dirty
            ">Field is required</small>
            <button pButton pRipple type="button" label="Add" class="p-button-outlined m-2" (click)="AddCountry()"
                [disabled]="!countryForm.valid"></button>
        </div>
    </form>
    <p></p>
    <p></p>
    <p></p>
    <p-table [value]="country" [paginator]="true" [rows]="5">
        <ng-template pTemplate="header">
            <tr>
                <th>CountryID</th>
                <th>Country</th>
                <th>Edit</th>
                <th>Delete</th>

            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-country>
            <tr>
                <td>{{ country.id }}</td>
                <td>{{ country.country }}</td>
                <td>
                    <button pButton pRipple type="button" icon="pi pi-pencil"
                        class="p-button-rounded p-button-help p-button-outlined"
                        (click)="showEditModal(country)"></button>
                </td>
                <td>
                    <button pButton pRipple type="button" icon="pi pi-times"
                        class="p-button-rounded p-button-danger p-button-outlined"
                        (click)="deleteCountry(country)"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</p-card>

<app-edit-country [displayAddEditModal]="displayAddEditModal" [selectedCountry]="selectedCountry"
    (clickClose)="hideAddModal($event)" (clickAddEdit)="saveOrUpdateProductToList($event)">
</app-edit-country>
<p-confirmDialog header="Delete"></p-confirmDialog>