<link rel="stylesheet" href="https://unpkg.com/primeflex@^3/primeflex.css">

<p-card>
    <form [formGroup]="villageForm" class="float">
        <h2>Village Arrangement</h2>
        <div class="field">
            <label for="country">Country: </label>
            <p-dropdown [options]="uniqueCountries" [(ngModel)]="selectedCountry" placeholder="-- Select Country --"
                (onChange)="onSelectionChange($event.value)" [showClear]="true" formControlName="country"
                class="m-2"></p-dropdown>
            <small class="p-error block" *ngIf="
            villageForm.controls['country'].invalid &&
            villageForm.controls['country'].dirty
              ">Please select a Country</small>
            <label for="city">City:</label>
            <p-dropdown [options]="getCities(selectedCountry)" [(ngModel)]="selectedCity"
                placeholder="-- Select City --" [showClear]="true" formControlName="city" class="m-2"></p-dropdown>
            <small class="p-error block" *ngIf="
            villageForm.controls['city'].invalid &&
            villageForm.controls['city'].dirty
              ">Please select a city</small>
            <!--options => kullanıcının seçim yapabileceği bir açılır liste oluşturur.listedeki seçenekleri temsil eder.
           ngModel =>  seçilen veriyi gösterir.
           placeholder => yazılan yazı
           onchange => seçim yapıldıktan sonra tetiklenir.-->
            <label for="district">District:</label>
            <p-dropdown [options]="getDistrict(selectedCity)" [(ngModel)]="selectedDistrict"
                placeholder="-- Select District --" [showClear]="true" formControlName="district"
                class="m-2"></p-dropdown>
            <small class="p-error block" *ngIf="
            villageForm.controls['district'].invalid &&
            villageForm.controls['district'].dirty
              ">Please select a city</small>

            <label for="village">Village:</label>
            <input id="village" type="text" formControlName="village" class="m-2" placeholder="Village" pInputText>
            <small class="p-error block" *ngIf="
            villageForm.controls['village'].invalid &&
            villageForm.controls['village'].dirty
            ">Field is required</small>
            <button pButton pRipple type="button" label="Add" class="p-button-outlined m-2" (click)="AddVillage()"
                [disabled]="!villageForm.valid"></button>
            <button pButton pRipple type="button" label="Cancel"
                class=" p-button-outlined p-button- p-button-success m-2" (click)="ClearData()"></button>

        </div>


    </form>
    <p></p>
    <p></p>
    <p></p>
    <p-table [value]="village" [paginator]="true" [rows]="5">
        <ng-template pTemplate="header">
            <tr>
                <th>VillageID</th>
                <th>Country</th>
                <th>City</th>
                <th>District</th>
                <th>Village</th>
                <th>Edit</th>
                <th>Delete</th>

            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-village>
            <tr>
                <td>{{ village.id }}</td>
                <td>{{ village.country }}</td>
                <td>{{ village.city }}</td>
                <td>{{ village.district }}</td>
                <td>{{ village.village }}</td>
                <td>
                    <button pButton pRipple type="button" icon="pi pi-pencil"
                        class="p-button-rounded p-button-help p-button-outlined"
                        (click)="showEditModal(village)"></button>
                </td>
                <td>
                    <button pButton pRipple type="button" icon="pi pi-times"
                        class="p-button-rounded p-button-danger p-button-outlined"
                        (click)="DeleteVillage(village)"></button>
                </td>

            </tr>
        </ng-template>
    </p-table>
</p-card>

<app-edit-village [displayAddEditModal]="displayAddEditModal" [selectedVillage]="selectedVillage"
    (clickClose)="hideAddModal($event)" (clickAddEdit)="saveOrUpdateProductToList($event)">
</app-edit-village>

<p-confirmDialog header="Delete"></p-confirmDialog>