<p-dialog header="Edit Country" [(visible)]="displayAddEditModal" [modal]="true" [style]="{ width: '50vw' }"
    [draggable]="false" [resizable]="false" (onHide)="closeModal()">
    <form [formGroup]="countryEditForm">
        <div class="field">
            <label class="block" for="country">Country</label>
            <input type="text" pInputText id="country" formControlName="country" />
            <small class="p-error block" *ngIf="
      countryEditForm.controls['country'].invalid &&
      countryEditForm.controls['country'].dirty">Field is required</small>
        </div>
    </form>
    <ng-template pTemplate="footer">
        <p-button (click)="closeModal()" label="Cancel" styleClass="p-button-text"></p-button>

        <p-button (click)="EditCountry()" label="Edit" [disabled]="countryEditForm.invalid"></p-button>
    </ng-template>
</p-dialog>

<p-toast position="bottom-center"></p-toast>