<p-dialog header="{{modalType}} Location" [(visible)]="displayAddEditModal" [modal]="true" [style]="{ width: '50vw' }"
  [draggable]="false" [resizable]="false" (onHide)="closeModal()">
  <form [formGroup]="locationForm" class="location-form">



  </form>
  <ng-template pTemplate="footer">
    <p-button (click)="closeModal()" label="Cancel" styleClass="p-button-text"></p-button>

    <p-button (click)="addEditLocation()" label="{{modalType}}" [disabled]="locationForm.invalid"></p-button>
  </ng-template>
</p-dialog>

<p-toast position="bottom-center"></p-toast>